/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    /*position: absolute;*/
    width: 100%;
    height: 100vh;
    background-color: #b6308f;
    /*background-image: url("");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: 50% 50%;
}

#particles-js .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#particles-js .hero-logo {
    margin-bottom: 30px;
}

#particles-js h1 {
    margin: 0 0 30px 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 56px;
    color: #ffffff;
}

#particles-js h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#particles-js .btn-get-started {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    color: #151515;
    background: #fff;
}

#particles-js .btn-get-started:hover {
    background: #fff;
    color: #7cc576;
}

@media (min-width: 1024px) {
    #particles-js {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #particles-js img {
        height: 60%;
    }

    #particles-js h1 {
        font-size: 24px;
        line-height: 28px;
    }
    #particles-js h2 {
        font-size: 20px;
        line-height: 20px;
    }
}






/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}